<!doctype html>
<html class="no-js" lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hillpine - About</title>
        <meta name="description" content="Hillpine">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/css/flaticon.css">
        <link rel="stylesheet" href="/assets/css/odometer.css">
        <link rel="stylesheet" href="/assets/css/jarallax.css">
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/aos.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">
        <style>
            .icon{
                color: #00194c !important;
            }
        </style>
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div class="loader">
                    <style>
    .pre{
	font-size:40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 10px;
	color:white;

}
.pre:before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #55DDB9;
	overflow: hidden;
	animation: animate 1s linear infinite;
	border-right: 4px solid #55DDB9;
	
}

@keyframes animate{

	0%{
		width: 0;
	}
	50%{
		width: 99%;
	}
	100%{
		width: 0;
	}
}
                    </style>
                    <h1 class="pre" data-text="Hillpine...">Hillpine...</h1>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <div id="header-fixed-height"></div>
        <%- include('header'); -%>

        <!-- header-area-end -->


        <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">About us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="/assets/img/images/breadcrumb_shape01.png" alt="">
                    <img src="/assets/img/images/breadcrumb_shape02.png" alt="">
                </div>
            </section>
            <!-- breadcrumb-area-end -->

          
             <!-- about-area -->
             <section class="about-area-eight pt-120 pb-120">
                <div class="container">
                    <!-- <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-9">
                            <div class="about-img-eight">
                                <img src="/images/unique.png" alt="">
                            </div>
                        </div> -->
                        <div class="col-lg-12">
                            <div class="about-content-eight">
                                <div class="section-title-two mb-30">
                                    <span class="sub-title">Who We Are</span>
                                    <h2 class="title">Introducing Hillpine Consulting
                                    </h2>
                                </div>
                                <p>Founded in 2022, Hillpine Consulting is a new-age M&A boutique 
                                    consulting firm set up with the overarching objective of providing 
                                    sustained value-add to our end-clients in M&A transactions and 
                                    building lasting relationships.</p>

                                <p>We provide an unprecedented blend of the functional/sectoral 
                                    knowledge of global consultancy companies and the agility/ 
                                    nimbleness and focus of boutique firms devoid of a bureaucratic 
                                    organization structure.</p>

                                <p>We act as a one-stop solution for M&A capabilities providing 
                                    breakthrough insights to clients across the deal continuum, leveraging 
                                    the deal-making experience of our founding directors, who are former 
                                    B4 consultants.
                                    </p>

                                <p>Whilst we have a presence in the Indian market, we partner with
                                    international boutique firms in undertaking end-to-end diligence
                                    capabilities on their behalf. This is adequately supported by a team size
                                    of 10+ and growing.</p>
                                <!-- <div class="about-content-inner">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-business-presentation"></i>
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Growing Business</h4>
                                                <p>Finance helps you to convert into a strategic asset get.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-investment"></i>
                                            </div>
                                            <div class="content">
                                                <h4 class="title">Finance Investment</h4>
                                                <p>Finance helps you to convert into a strategic asset get.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="right-slide-img">
                                        <img src="/assets/img/images/inner_about_img04.jpg" alt="">
                                    </div>
                                </div>
                                <div class="about-content-bottom">
                                    <div class="services-btn">
                                        <a href="/services" class="btn">Our Services</a>
                                    </div>
                                    <div class="about-author-info">
                                        <div class="thumb">
                                            <img src="/images/founder-sq.jpg" style="border-radius: 50%;" alt="">
                                        </div>
                                        <div class="content">
                                            <h2 class="title">Ricky Saraf</h2>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->

            <!-- <section class="testimonial-area-three testimonial-area-six pt-20">
                <div class="section-title text-center mb-50">
                    <span class="sub-title">Our Core Values</span>
                    <h2 class="title">The values we work with</h2>
                </div>
                <div class="container">
                    <div class="features-item-wrap" style="border: none;">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-profit"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">PRIVATE EQUITY
                                            AND VC FUNDS</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-taxes"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">CREDIT FUNDS,
                                            CLO MANAGERS AND LENDERS</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="features-item-wrap">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-profit"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">FAMILY OFFICES</h4>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="features-item-two">
                                    <div class="features-icon-two">
                                        <i class="flaticon-taxes"></i>
                                    </div>
                                    <div class="features-content-two">
                                        <h4 class="title">START UPS</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>  -->

      
            <%- include('stepper'); -%>

       
            <section id="why-us" class="choose-area-two" style="background-color: #107082 !important;">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="choose-img-two">
                                <img src="/assets/img/images/about.png" alt="">
                                <img src="/assets/img/images/choose_img_shape01.png" alt="">
                                <img src="/assets/img/images/choose_img_shape02.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="choose-content-two">
                                <div class="section-title-two white-title mb-30 tg-heading-subheading animation-style2">
                                    <span class="sub-title" style="background-color: #f0cda1;">Why Choose Us</span>
                                    <h2 class="title tg-element-title">Our Personal Values and Ethos</h2>
                                </div>
                                <p>Morem ipsum dolor sit amet, consectetur adipiscing elita florai psum dolor sit amet, consecteture.Borem.</p>
                                <div class="choose-circle-wrap">
                                    <div class="circle-item">
                                        <div class="chart" data-percent="55">
                                            <div class="circle-content">
                                                <span class="percentage">55%</span>
                                                <p>Technology Driven</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="circle-item">
                                        <div class="chart" data-percent="85">
                                            <div class="circle-content">
                                                <span class="percentage">85%</span>
                                                <p>Mindset Driven</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="circle-item">
                                        <div class="chart" data-percent="98">
                                            <div class="circle-content">
                                                <span class="percentage">98%</span>
                                                <p>People Driven</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="circle-item">
                                        <div class="chart" data-percent="73">
                                            <div class="circle-content">
                                                <span class="percentage">73%</span>
                                                <p>Process Driven</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="choose-shape">
                    <img src="/assets/img/images/choose_shape.png" alt="" data-aos="fade-right" data-aos-delay="200">
                </div>
            </section>
           

        </main>
        <!-- main-area-end -->


        <%- include('footer'); -%>


        <!-- JS here -->
        <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/jquery.odometer.min.js"></script>
        <script src="/assets/js/jquery.appear.js"></script>
        <script src="/assets/js/gsap.js"></script>
        <script src="/assets/js/ScrollTrigger.js"></script>
        <script src="/assets/js/SplitText.js"></script>
        <script src="/assets/js/gsap-animation.js"></script>
        <script src="/assets/js/jarallax.min.js"></script>
        <script src="/assets/js/jquery.parallaxScroll.min.js"></script>
        <script src="/assets/js/particles.min.js"></script>
        <script src="/assets/js/jquery.easypiechart.min.js"></script>
        <script src="/assets/js/jquery.inview.min.js"></script>
        <script src="/assets/js/swiper-bundle.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/ajax-form.js"></script>
        <script src="/assets/js/aos.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>

</html>
