<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hillpine - Clientele</title>
    <meta name="description" content="Hillpine - Business Consulting HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/odometer.css">
    <link rel="stylesheet" href="/assets/css/jarallax.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/aos.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <style>
        .icon {
            color: #00194c !important;
        }
    </style>
</head>

<body>

    <!-- preloader -->
    <div id="preloader">
        <div id="loading-center">
            <div class="loader">
                <style>
                    .pre {
                        font-size: 40px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                        letter-spacing: 10px;
                        color: white;

                    }

                    .pre:before {
                        content: attr(data-text);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: #55DDB9;
                        overflow: hidden;
                        animation: animate 1s linear infinite;
                        border-right: 4px solid #55DDB9;

                    }

                    @keyframes animate {

                        0% {
                            width: 0;
                        }

                        50% {
                            width: 99%;
                        }

                        100% {
                            width: 0;
                        }
                    }
                </style>
                <h1 class="pre" data-text="Hillpine...">Hillpine...</h1>
            </div>
        </div>
    </div>
    <!-- preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <div id="header-fixed-height"></div>
    <%- include('header'); -%>

        <!-- header-area-end -->


        <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Clientele</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Clientele</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="/assets/img/images/breadcrumb_shape01.png" alt="">
                    <img src="/assets/img/images/breadcrumb_shape02.png" alt="">
                </div>
            </section>
            <!-- breadcrumb-area-end -->


            <!-- about-area -->
            <!-- <section class="overview-area-two " style="padding-top: 4%; padding-bottom: 30px;">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="overview-img-two">
                                <div class="mask-img-two">
                                    <img src="/assets/img/images/h3_overview_img01.jpg" alt="">
                                </div>
                                <img src="/assets/img/images/h3_overview_img02.jpg" alt="" class="img-two"
                                    data-parallax='{"y" : 100 }'>
                                <div class="overview-shape-wrap">
                                    <img src="/assets/img/images/h3_overview_shape01.png" alt="">
                                    <img src="/assets/img/images/h3_overview_shape02.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="overview-content-two">
                                <div class="section-title-two mb-30 tg-heading-subheading animation-style1">
                                    <span class="sub-title">Company Overview</span>
                                    <h2 class="title tg-element-title">We Prepare An Effective Strategy For Companies
                                    </h2>
                                </div>
                                <p>Morem ipsum dolor sit amet, consectetur adipiscing elita florai psum dolor sit amet,
                                    consecteture.</p>
                                <div class="progress-wrap">
                                    <div class="progress-item">
                                        <h6 class="title">Consulting</h6>
                                        <div class="progress" role="progressbar" aria-label="Example with label"
                                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar wow slideInLeft" data-wow-delay=".1s"
                                                style="width: 85%"><span>85%</span></div>
                                        </div>
                                    </div>
                                    <div class="progress-item">
                                        <h6 class="title">Investment</h6>
                                        <div class="progress" role="progressbar" aria-label="Example with label"
                                            aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar wow slideInLeft" data-wow-delay=".2s"
                                                style="width: 76%"><span>76%</span></div>
                                        </div>
                                    </div>
                                    <div class="progress-item">
                                        <h6 class="title">Investment</h6>
                                        <div class="progress" role="progressbar" aria-label="Example with label"
                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar wow slideInLeft" data-wow-delay=".3s"
                                                style="width: 90%"><span>90%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- about-area-end -->

            <section class="counter-area-two">
                <div class="container">
                    <div class="counter-item-wrap">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="counter-item-two">
                                    <h2 class="count"><span class="odometer" data-count="3"></span>Bn+</h2>
                                    <p>Deal Value</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="counter-item-two">
                                    <h2 class="count"><span class="odometer" data-count="3"></span></h2>
                                    <p>Active Regions</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="counter-item-two">
                                    <h2 class="count"><span class="odometer" data-count="25"></span>+</h2>
                                    <p>End-To-End Transactions</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="counter-item-two">
                                    <h2 class="count"><span class="odometer" data-count="15"></span>+</h2>
                                    <p>End Clients</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="counter-item-two">
                                    <h2 class="count"><span class="odometer" data-count="2"></span>-5 FTEs</h2>
                                    <p>Average Team Size</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="counter-item-two">
                                    <h2 class="count"><span class="odometer" data-count="3"></span>-4</h2>
                                    <p>Average Deal Timeline (Weeks)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="overview-area-two " style="padding: 0%;">
                <div class="contain" >
                    <img src="/images/map.png" alt="">
                   
                </div>
            </section> -->

            <%- include('map'); -%>

                <section id="testimonials" class="testimonial-area-two testimonial-bg-two"
                    data-background="/assets/img/bg/h2_testimonial_bg.jpg">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div
                                    class="section-title-two white-title text-center mb-50 tg-heading-subheading animation-style3">
                                    <span class="sub-title" style="background-color: #f0cda1;">Our Testimonials</span>
                                    <h2 class="title tg-element-title">What Customers Say’s About Our Hillpine Services
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item-wrap-two">
                            <div class="row testimonial-active-two">
                                <div class="col-lg-6">
                                    <div class="testimonial-item-two">
                                        <div class="testimonial-content-two">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>“ Morem ipsum dolor sit amet, consectetur adipiscing elita florai sum
                                                dolor sit amet, consecteture.Borem ipsum dolor sit amet, consectetur.
                                            </p>
                                            <div class="testimonial-avatar">
                                                <div class="avatar-thumb">
                                                    <img src="/assets/img/images/testi_avatar01.png" alt="">
                                                </div>
                                                <div class="avatar-info">
                                                    <h2 class="title">Mr.Robey Alexa</h2>
                                                    <span>CEO, Hillpine Agency</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="testimonial-item-two">
                                        <div class="testimonial-content-two">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>“ Morem ipsum dolor sit amet, consectetur adipiscing elita florai sum
                                                dolor sit amet, consecteture.Borem ipsum dolor sit amet, consectetur.
                                            </p>
                                            <div class="testimonial-avatar">
                                                <div class="avatar-thumb">
                                                    <img src="/assets/img/images/testi_avatar02.png" alt="">
                                                </div>
                                                <div class="avatar-info">
                                                    <h2 class="title">Robert Fox</h2>
                                                    <span>CEO, Hillpine Agency</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="testimonial-item-two">
                                        <div class="testimonial-content-two">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <p>“ Morem ipsum dolor sit amet, consectetur adipiscing elita florai sum
                                                dolor sit amet, consecteture.Borem ipsum dolor sit amet, consectetur.
                                            </p>
                                            <div class="testimonial-avatar">
                                                <div class="avatar-thumb">
                                                    <img src="/assets/img/images/testi_avatar01.png" alt="">
                                                </div>
                                                <div class="avatar-info">
                                                    <h2 class="title">Mr.Robey Alexa</h2>
                                                    <span>CEO, Hillpine Agency</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-nav-two"></div>
                        </div>
                    </div>
                </section>

        </main>
        <!-- main-area-end -->


        <%- include('footer'); -%>


            <!-- JS here -->
            <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/jquery.magnific-popup.min.js"></script>
            <script src="/assets/js/jquery.odometer.min.js"></script>
            <script src="/assets/js/jquery.appear.js"></script>
            <script src="/assets/js/gsap.js"></script>
            <script src="/assets/js/ScrollTrigger.js"></script>
            <script src="/assets/js/SplitText.js"></script>
            <script src="/assets/js/gsap-animation.js"></script>
            <script src="/assets/js/jarallax.min.js"></script>
            <script src="/assets/js/jquery.parallaxScroll.min.js"></script>
            <script src="/assets/js/particles.min.js"></script>
            <script src="/assets/js/jquery.easypiechart.min.js"></script>
            <script src="/assets/js/jquery.inview.min.js"></script>
            <script src="/assets/js/swiper-bundle.min.js"></script>
            <script src="/assets/js/slick.min.js"></script>
            <script src="/assets/js/ajax-form.js"></script>
            <script src="/assets/js/aos.js"></script>
            <script src="/assets/js/wow.min.js"></script>
            <script src="/assets/js/main.js"></script>
</body>

</html>