<footer>
    <div class="footer-area-two footer-bg-two" data-background="/assets/img/bg/h2_footer_bg.jpg">
        <div class="footer-top-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-7">
                        <div class="footer-widget">
                            <div class="fw-logo">
                                <a href="/"><img src="/images/logo.png" style="width: 200px; max-height: 90px;" alt=""></a>
                                <!-- HILLPINE -->
                            </div>
                            <div class="footer-content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maiores ducimus quaerat.</p>
                                <div class="footer-info">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-phone-call"></i>
                                            </div>
                                            <div class="content" style="white-space: nowrap;">
                                                <a href="tel:+91 63660 92750">+91 63660 92750</a>
                                            </div>
                                        </li>
                                        <!-- <li>
                                            <div class="icon">
                                                <i class="flaticon-clock"></i>
                                            </div>
                                            <div class="content">
                                                <p>Mon – Sat: 8 am – 5 pm, <br> Sunday: <span>CLOSED</span></p>
                                            </div>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Menu</h4>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/clientele">Clientele</a></li>
                                    <li><a href="/founding-team">Our Team</a></li>
                                    <li><a href="/csr">Inside Hillpine</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Quick Links</h4>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="/about/#why-us">Why us</a></li>
                                    <li><a href="/clientele/#testimonials">Testimonials</a></li>
                                    <li><a href="/#contact">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text-two text-center">
                            <p>Copyright © Hillpine | All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>