<!doctype html>
<html class="no-js" lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hillpine - Founding Team</title>
        <meta name="description" content="Hillpine">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/css/flaticon.css">
        <link rel="stylesheet" href="/assets/css/odometer.css">
        <link rel="stylesheet" href="/assets/css/jarallax.css">
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/aos.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">
        <style>
            .mgmt_image {
position: relative;
overflow: hidden;
line-height: 0;
background-color:  #107082;

}
.mgmt_white-card {
    /* display: flex;
    align-items: stretch; */
    margin: 0 auto 2rem;
    /* justify-content: center; */
    background-color: #fff;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0 0.5rem 1.5625rem 0 rgba(0,0,0,0.3);
    border-radius: 0.1875rem;
    position: relative;
}

.mgmt_overlay {
opacity: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(50,50,50,0.9);
transition: 0.2s opacity;
line-height: 1.5;
display: flex;
justify-content: center;
align-items: center;
}
.mgmt_overlay:hover{
opacity: 1;
}
.mgmt_tvcell {
display: flex;
flex-basis: 322px;
}
.mgmt_about, .mgmt_twitter, .mgmt_linkedin {
display: block;
flex-grow: 1;
width: calc(50% - 0.5px);
text-align: center;
cursor: pointer;
}
.mgmt_name-title {
padding: 1.8125rem 0 1.4375rem;
margin: 0;
position: relative;
word-break: break-word;
}
.mgmt_tvcell a:nth-child(2) {
border-left: 1px solid #fff;
}
.mgmt_about::before, .mgmt_twitter::before, .mgmt_linkedin::before {
background-position: -59px -54px;
width: 60px;
height: 77px;
}
.mgmt_name-title h3 {
vertical-align: baseline;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
padding: 0.1875rem 0;
line-height: 1.375em;
letter-spacing: 0.08em;
color: #107082;
font-size: 1.5rem;
margin: 0;
}
.mgmt_name-title h4 {
vertical-align: baseline;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
padding: 0.1875rem 0;
line-height: 1.375em;
letter-spacing: 0.08em;
color: #2e475d;
font-size: 1rem;
margin: 0;
font-weight: normal;
}
.mgmt_about::before,  .mgmt_twitter::before, .mgmt_linkedin::before {
content: '';
background: url('/images/about.png');
display: block;
width: 80px;
height: 80px;
overflow: hidden;
background-size: cover;
background-position: center;
/* position: absolute;
top: 0%;
left: 50%; */
margin: 0% auto;
}
.mgmt_linkedin::before {
content: '';
background: url('/images/linkedn.png') ;
display: block;
width: 80px;
height: 80px;
overflow: hidden;
background-size: cover;
background-position: center;
}
div span{
    color: white;
}


.pre{
	font-size:40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 10px;
	color:white;

}
.pre:before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #55DDB9;
	overflow: hidden;
	animation: animate 1s linear infinite;
	border-right: 4px solid #55DDB9;
	
}

@keyframes animate{

	0%{
		width: 0;
	}
	50%{
		width: 99%;
	}
	100%{
		width: 0;
	}
}

.popup{
    position:absolute; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
    background-color: #fff;
    width: 70%; 
    border-radius:8px ; 
    border: 2px solid black;
    display: none;
    padding-top: 24px;
}
.cross{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}


        </style>
        <style>

            span .designation{
                display: none !important;
            }
            .pre{
            font-size:40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            letter-spacing: 10px;
            color:white;
        
        }
        .pre:before{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #55DDB9;
            overflow: hidden;
            animation: animate 1s linear infinite;
            border-right: 4px solid #55DDB9;
            
        }
        
        @keyframes animate{
        
            0%{
                width: 0;
            }
            50%{
                width: 99%;
            }
            100%{
                width: 0;
            }
        }
        /* .designation{
            display: inline-block !important;
            
        }
        .designation + a{
            margin: 0 8px;
            
        } */
        .image-container {
          position: relative;
          width: 280px;
          height: 290px;
        }
        
        .first-image{
            filter: grayscale(100%);
        }
        
        .first-image,
        .second-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: transform 0.5s;
        
        }
        
        .second-image {
          transform: rotateY(180deg);
          opacity: 0;
        }
        
        .image-container:hover .first-image {
          transform: rotateY(180deg);
          opacity: 0;
        }
        
        .image-container:hover .second-image {
          transform: rotateY(0);
          opacity: 1;
          /* filter: blur(2px); */
        }
        /* .image-container .mail{
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-100%, -50%);
            z-index: 100;
            font-size: 36px;
            opacity: 0;
        }
        .image-container .linkedin{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(100%, -50%);
            z-index: 100;
            font-size: 36px;
            opacity: 0;
        }
        .image-container:hover a{
            opacity: 1 !important;
            color: #F0CDA1;
        } */
        
                            </style>
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div class="loader">
                    
                    <h1 class="pre" data-text="Hillpine...">Hillpine...</h1>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <div id="header-fixed-height"></div>
        <%- include('header'); -%>

        <!-- header-area-end -->


        <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Our Founding Team</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Our Founding Team</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="/assets/img/images/breadcrumb_shape01.png" alt="">
                    <img src="/assets/img/images/breadcrumb_shape02.png" alt="">
                </div>
            </section>
            <!-- breadcrumb-area-end -->

           
            <section class="team-area-four team-bg" data-background="/assets/img/bg/team_bg.jpg" style="position: relative;">
                <div class="container" >
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8">
                            <div class="section-title text-center mb-50">
                                <span class="sub-title">Our Founders</span>
                                <h2 class="title">Meet Our Visionaries</h2>
                                <p>Get to know the inspiring minds leading the way at Hillpine Consulting. Our leadership team brings together a wealth of experience, expertise, and innovative thinking to drive our company's vision and success.</p>
                            </div>
                        </div>
                    </div>
                    <div id="ricky" class="row p-3 popup">
                        <div class="col-lg-5">
                            <div class="team-details-info-wrap">
                                <div class="team-details-thumb">
                                    <img src="/images/founder.jpg" alt="">
                                </div>
                                <div class="team-details-info">
                                    <ul class="list-wrap">
                                        <!-- <li><i class="flaticon-phone-call"></i>+123 8989 444</li> -->
                                        <!-- <li><i class="flaticon-mail"></i>rickysaraf@hillpineconsulting.in</li> -->
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="team-details-content">
                                <i class="far fa-times-circle cross ricky-cross"></i>
                                <h2 class="title">Ricky Saraf</h2>
                                <span>Founder, Hillpine Consulting</span>
                                <p>Ricky is a seasoned transaction service professional with 12+ years of core financial diligence experience working with the Big4s in Europe and India. He has managed over 150 transactions across diverse sectors (life sciences, industrial, consumer, IT/ITES/ fintech..).</p>
                                <br>
                                <p>His deal experience ranges from advising small Indian corporates on deal sizes of less than $100k to supporting Thales (a French-listed corporate) in their divestment of a significant business division spread over 30 countries (EV +$3bn). Some of his clients include Thales, KKR, Advent, EQT, Sanofi, Schneider Electric in Europe, Infosys, Torrent Pharma, and Chrys Capital in India. </p>
                                <!-- <div class="team-skill-wrap">
                                    <h3 class="title-two">My Expertise & Skills</h3>
                                    <p>While financial due diligence has been his forte, Ricky has also been involved in all stages of an M&A cycle, including deal origination, SPA support, funds flow management, Completion Account review and dispute, and post-merger integration support. The wide range of experience provides Ricky the ability to recommend practical and simplistic solutions in complicated deal situations.
                                        <br>
                                        Leveraging his experience, Ricky founded Hillpine Consulting in April 2022, and in their first year of operations, the team grew to 10+ people, having executed more than 25+ end-to-end diligence projects.
                                        </p> 
                                    </div> -->
                            </div>
                        </div>
                    </div>

                    <div id="prateek" class="row p-3 popup">
                        <div class="col-lg-5">
                            <div class="team-details-info-wrap">
                                <div class="team-details-thumb">
                                    <img src="/images/Prateek.jpg" alt="">
                                </div>
                                <div class="team-details-info">
                                    <ul class="list-wrap">
                                        <!-- <li><i class="flaticon-phone-call"></i>+123 8989 444</li> -->
                                        <!-- <li><i class="flaticon-mail"></i>prateeklodha@hillpineconsulting.in</li> -->
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="team-details-content">
                                <i class="far fa-times-circle cross prateek-cross"></i>

                                <h2 class="title">Prateek Lodha</h2>
                                <span>Founding Team Director, Hillpine Consulting</span>
                                <p>
                                    Prateek has a decade-long experience of working in the M&A/deals market spanning across the UAE, the UK and Germany managing several buy and sell side transactions. Whilst he specializes in undertaking rigorous financial diligence, he also possesses a strong working knowledge of other propositions in the M&A lifecycle built through working on a breadth of projects of varying complexities across a wide spectrum of sectors and notably infrastructure and real estate. 
                                    <br>
                                    The velocity of transactions and functional/sector experience enables Prateek to provide a holistic perspective on the pivotal risk factors, value considerations, and operational synergies most critical from the lens of financial sponsors and/or strategic players. On all his engagements, he strives to blend the risk-based diligence framework with future value creation potential, thus generating value-add for all his clients
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    
                        <div class="row justify-content-center">
                         
                        
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">

                            <div class="mgmt_white-card" >
                                <div class="mgmt_image">
                                    <div class="mgmt_overlay">
                                        <div class="mgmt_tvcell">
                                            
                                            <div  class="mgmt_about ricky-popup" href="/founder-1"><span>About</span></div>
                                            
                                            
                                                <a class="mgmt_linkedin" href="https://www.linkedin.com/in/ricky-saraf/" target="_blank"><span>Follow</span></a>
                                            
                                        </div>
                                    </div>
                                    <img style="width: 266px; height: 320px;" src="/images/founder.png" alt=""  >
                                </div>
                                <div class="mgmt_name-title">
                                    <h3>Ricky Saraf</h3>
                                    <h4>Founder & Director, Hillpine Consulting</h4>
                                </div>
                            </div> 
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">

                            <div class="mgmt_white-card" >
                                <div class="mgmt_image" >
                                    <div class="mgmt_overlay">
                                        <div class="mgmt_tvcell">
                                            
                                            <div   class="mgmt_about prateek-popup"><span>About</span></div>
                                            
                                            
                                                <a class="mgmt_linkedin" href="https://www.linkedin.com/in/prateek-lodha-a7394548" target="_blank"><span>Follow</span></a>
                                            
                                        </div>
                                    </div>
                                    <img style="width: 266px; height: 320px; object-fit: cover;" src="/images/Prateek.png" alt=""  >
                                </div>
                                <div class="mgmt_name-title">
                                    <h3>Prateek Lodha</h3>
                                    <h4>Founding Team Director, Hillpine Consulting</h4>
                                </div>
                            </div> 
                        </div>
                        
                        <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">

                            <div class="mgmt_white-card" >
                                <div class="mgmt_image">
                                    <div class="mgmt_overlay">
                                        <div class="mgmt_tvcell">
                                            
                                            <a class="mgmt_about" href="/founder-2"><span>About</span><span class="visually-hidden"> Yamini Rangan</span></a>
                                            
                                            
                                                <a class="mgmt_linkedin" href="linkedin.com/in/naman-asthana-0a4894b4" target="_blank"><span>Follow</span></a>
                                            
                                        </div>
                                    </div>
                                    <img style="width: 266px; height: 320px;" src="/images/Naman.jpeg" alt="Yamini Rangan"  >
                                </div>
                                <div class="mgmt_name-title">
                                    <h3>Naman Asthana
                                    </h3>
                                    <h4>Founder, Hillpine Consulting</h4>
                                </div>
                            </div> 
                        </div> -->
                        
                    </div>
                    </div>
                    </section>

                 <!-- team-area -->
                 <section class="team-area-four team-bg" data-background="/assets/img/bg/team_bg.jpg">
                    <div class="container" >
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-8">
                                <div class="section-title text-center mb-50">
                                    <span class="sub-title">Skilled Team Members</span>
                                    <h2 class="title">Meet Our Extraordinary Team</h2>
                                    <p>Discover the smiling faces and passionate souls that power Hillpine Consulting. Our team is a tight-knit group of diverse individuals, each bringing their unique talents and creativity to the table. Get to know the incredible people who make our work culture truly special.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <!-- <a class="mail" href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a>
                                            <a class="linkedin" href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a> -->
                                            <img class="first-image" src="/images/founder.jpg" alt="First Image">
                                            <img class="second-image" src="/images/founder.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:rickysaraf@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/ricky-saraf/"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Ricky Saraf</a></h2>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/Prateek.jpg" alt="First Image">
                                            <img class="second-image" src="/images/Prateek.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:prateeklodha@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/prateek-lodha-a7394548"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Prateek Lodha
                                        </a></h2>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <!-- <a class="mail" href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a>
                                            <a class="linkedin" href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a> -->
                                            <img class="first-image" src="/images/partner1.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner1.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/lamaat"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Abishesh Lama Tamang</a></h2>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner5.webp" alt="First Image">
                                            <img class="second-image" src="/images/partner5.webp" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:Vashusharma@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/vashu-sharma-61630276"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Vashu Sharma</a></h2>
                                        
                                       </div>
                                </div>
                            </div>
                             <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner6.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner6.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:rishavmallya@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/rishavmallya"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Rishav Mallya</a></h2>
                                        
                                        </div>
                                </div>
                            </div>
                            
                             <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner8.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner8.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:niranjana@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/niranjana-raj-0ab579212"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Niranjana P Raj</a></h2>
                                        
                                        </div>
                                </div>
                            </div>
                            </div>
                            <div class="row justify-content-center">
                             <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four" >
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner9.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner9.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:sampriya@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/sampriya-sukumar-51b889bb"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Sampriya Sukumar</a></h2>
                                        
                                        </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner2.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner2.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:ayushmaheshwari@hillpinconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/ayush-maheshwari-236a89128"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Ayush Maheshwari</a></h2>
                                        
                                        </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner7.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner7.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:raunakmaheshwari@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/raunak-maheshwari-1b78968b"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Raunak Maheshwari</a></h2>
                                        
                                        </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner4.webp" alt="First Image">
                                            <img class="second-image" src="/images/partner4.webp" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:amanmogra@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/aman-mogra-6a5b13201"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Aman Mogra</a></h2>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                                <div class="team-item-four">
                                    <div class="team-thumb-four">
                                        <div class="image-container">
                                            <img class="first-image" src="/images/partner3.jpg" alt="First Image">
                                            <img class="second-image" src="/images/partner3.jpg" alt="Second Image">
                                            <div class="team-social-three">
                                                <div class="social-toggle-icon">
                                                    <i class="fas fa-share-alt"></i>
                                                </div>
                                                <ul class="list-wrap">
                                                    <li><a href="mailto:vishalkumar@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/vishalkumar98"><i class="fab fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                          </div>
                                        
                                    </div>
                                    <div class="team-content-four">
                                        <h2 class="title"><a href="/team">Vishal Kumar</a></h2>
                                        
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                               <div class="team-item-four">
                                   <div class="team-thumb-four" >
                                       <div class="image-container">
                                           <img class="first-image" src="/images/Arti Pic.jpg" alt="First Image">
                                           
                                           <img class="second-image" src="/images/Arti Pic.jpg" alt="Second Image">
                                           <div class="team-social-three">
                                            <div class="social-toggle-icon">
                                                <i class="fas fa-share-alt"></i>
                                            </div>
                                            <ul class="list-wrap">
                                                <li><a href="mailto:artiupadhyay@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/arti-upadhyay"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                        </div>
                                       
                                   </div>
                                   <div class="team-content-four">
                                       <h2 class="title"><a href="/team">Arti Upadhyay
                                    </a></h2>
                                       
                                       </div>
                               </div>
                           </div>
                           
                        
                        
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                            <div class="team-item-four">
                                <div class="team-thumb-four">
                                    <div class="image-container">
                                        <!-- <a class="mail" href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a>
                                        <a class="linkedin" href="mailto:abishesh@hillpineconsulting.in"><i class="far fa-envelope"></i></a> -->
                                        <img class="first-image" src="/images/Naman.jpg" alt="First Image">
                                        <img class="second-image" src="/images/Naman.jpg" alt="Second Image">
                                        <div class="team-social-three">
                                            <div class="social-toggle-icon">
                                                <i class="fas fa-share-alt"></i>
                                            </div>
                                            <ul class="list-wrap">
                                                <li><a href="mailto:naman@hillpineconsulting.in"><i class="far fa-envelope"></i></a></li>
                                                <li><a href="linkedin.com/in/naman-asthana-0a4894b4"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="team-content-four">
                                    <h2 class="title"><a href="/team">Naman Asthana</a></h2>
                                    
                                </div>
                            </div>
                        </div>
                        
                    
                    
                </div>
                </section>
                    <!-- <section class="team-details-area pt-120 pb-120">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="team-details-info-wrap">
                                        <div class="team-details-thumb">
                                            <img src="/images/founder.jpg" alt="">
                                        </div>
                                        <div class="team-details-info">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-phone-call"></i>+123 8989 444</li>
                                                <li><i class="flaticon-mail"></i>rickysaraf@hillpineconsulting.in</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="team-details-content">
                                        <h2 class="title">Ricky Saraf</h2>
                                        <span>Founder, Hillpine Consulting</span>
                                        <p>Ricky is a seasoned transaction service professional with 12+ years of core financial diligence experience working with the Big4s in Europe and India. He has managed over 150 transactions across diverse sectors (life sciences, industrial, consumer, IT/ITES/ fintech..).</p>
                                        <br>
                                        <p>His deal experience ranges from advising small Indian corporates on deal sizes of less than $100k to supporting Thales (a French-listed corporate) in their divestment of a significant business division spread over 30 countries (EV +$3bn). Some of his clients include Thales, KKR, Advent, EQT, Sanofi, Schneider Electric in Europe, Infosys, Torrent Pharma, and Chrys Capital in India. </p>
                                        <div class="team-skill-wrap">
                                            <h3 class="title-two">My Expertise & Skills</h3>
                                            <p>While financial due diligence has been his forte, Ricky has also been involved in all stages of an M&A cycle, including deal origination, SPA support, funds flow management, Completion Account review and dispute, and post-merger integration support. The wide range of experience provides Ricky the ability to recommend practical and simplistic solutions in complicated deal situations.
                                                <br>
                                                Leveraging his experience, Ricky founded Hillpine Consulting in April 2022, and in their first year of operations, the team grew to 10+ people, having executed more than 25+ end-to-end diligence projects.
                                                </p> 
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="team-details-area pt-120 pb-120">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="team-details-info-wrap">
                                        <div class="team-details-thumb">
                                            <img src="/images/Naman.jpeg" alt="">
                                        </div>
                                        <div class="team-details-info">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-phone-call"></i>+123 8989 444</li>
                                                <li><i class="flaticon-mail"></i>naman@hillpineconsulting.in</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="team-details-content">
                                        <h2 class="title">Naman Asthana</h2>
                                        <span>Founder, Hillpine Consulting</span>
                                        <p>
                                            Prateek has a decade-long experience of working in the M&A/deals market spanning across the UAE, the UK and Germany managing several buy and sell side transactions. Whilst he specializes in undertaking rigorous financial diligence, he also possesses a strong working knowledge of other propositions in the M&A lifecycle built through working on a breadth of projects of varying complexities across a wide spectrum of sectors and notably infrastructure and real estate. 
                                            <br>
                                            The velocity of transactions and functional/sector experience enables Prateek to provide a holistic perspective on the pivotal risk factors, value considerations, and operational synergies most critical from the lens of financial sponsors and/or strategic players. On all his engagements, he strives to blend the risk-based diligence framework with future value creation potential, thus generating value-add for all his clients
                                        </p>
                                        <div class="team-skill-wrap">
                                            <h3 class="title-two">My Expertise & Skills</h3>
                                                <p>
                                                    In his most recent role as an AD with the KPMG's private equity team based out of Frankfurt, Prateek worked in close coordination with large cap and mid-market PE players on buy and sell-side transactions for assets domiciled across Europe, providing DD, value creation and carve-out advice.
                                                </p>    
                                            <br>
                                            Some prominent transactions Prateek has been a part of include inter-alia the divestment of Brussels Airport by Macquarie, carve-out of HTS division by Imerys for an unsuccessful bidder (Lone Star), and acquisition of a pure play procurement software business by Keensight Capital. 
                                                </p> 
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->
        </main>
        <!-- main-area-end -->


        <!-- footer-area -->
        <%- include('footer'); -%>

        <!-- footer-area-end -->


        <!-- JS here -->
        <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/jquery.odometer.min.js"></script>
        <script src="/assets/js/jquery.appear.js"></script>
        <script src="/assets/js/gsap.js"></script>
        <script src="/assets/js/ScrollTrigger.js"></script>
        <script src="/assets/js/SplitText.js"></script>
        <script src="/assets/js/gsap-animation.js"></script>
        <script src="/assets/js/jarallax.min.js"></script>
        <script src="/assets/js/jquery.parallaxScroll.min.js"></script>
        <script src="/assets/js/particles.min.js"></script>
        <script src="/assets/js/jquery.easypiechart.min.js"></script>
        <script src="/assets/js/jquery.inview.min.js"></script>
        <script src="/assets/js/swiper-bundle.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/ajax-form.js"></script>
        <script src="/assets/js/aos.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/main.js"></script>

        <script>
            $(".ricky-popup").click(()=> {
                $("#ricky").css("display", "flex");
            })
            $(".ricky-cross").click(()=>{
                $("#ricky").css("display", "none");
            })

            $(".prateek-popup").click(()=> {
                $("#prateek").css("display", "flex");
            })
            $(".prateek-cross").click(()=>{
                $("#prateek").css("display", "none");
            })
        </script>
    </body>

</html>
