<header class="header-style-five" style="z-index: 99;">
    <div id="sticky-header" class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav">

                            <div class="logo">
                                <a href="/"><img src="/images/logo.png" style="width: 200px; max-height: 90px;"
                                        alt="Logo"></a>
                                <!-- <a href="/">HILLPINE</a> -->
                            </div>
                            

                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    

                                    <li><a href="/">Home </a></li>
                                    <li><a href="/About">About </a></li>
                                    <li><a href="/services">Value Creations </a></li>
                                    <li><a href="/clientele">Clientele </a></li>
                                    <li><a href="/founding-team">Our Team</a></li>
                                    <li><a href="/csr">Inside Hillpine</a></li>


                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </div>

                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <nav class="menu-box">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <div class="nav-logo">
                                <!-- <a href=""><img src="/assets/img/logo/logo.png" alt="Logo"></a> -->
                                Hillpine
                            </div>

                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <!-- <div class="social-links">
                                <ul class="clearfix list-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div> -->
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>
                    <!-- End Mobile Menu -->

                </div>
            </div>
        </div>
    </div>
</header>