<!doctype html>
<html class="no-js" lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hillpine - Services</title>
        <meta name="description" content="Hillpine">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/css/flaticon.css">
        <link rel="stylesheet" href="/assets/css/odometer.css">
        <link rel="stylesheet" href="/assets/css/jarallax.css">
        <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/aos.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div class="loader">
                    <style>
    .pre{
	font-size:40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 10px;
	color:white;

}
.pre:before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #55DDB9;
	overflow: hidden;
	animation: animate 1s linear infinite;
	border-right: 4px solid #55DDB9;
	
}

@keyframes animate{

	0%{
		width: 0;
	}
	50%{
		width: 99%;
	}
	100%{
		width: 0;
	}
}
                    </style>
                    <h1 class="pre" data-text="Hillpine...">Hillpine...</h1>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <div id="header-fixed-height"></div>
        <%- include('header'); -%>

        <!-- header-area-end -->


        <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Our Services</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Services</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="/assets/img/images/breadcrumb_shape01.png" alt="">
                    <img src="/assets/img/images/breadcrumb_shape02.png" alt="">
                </div>
            </section>
            <!-- breadcrumb-area-end -->


            <!-- services-area -->
            <section class="services-area-six">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="section-title-two mb-60">
                                <span class="sub-title">What We Do For You</span>
                                <h2 class="title">We can inspire and Offer Different Services</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-top-content mb-30">
                                <p>We function as a one-stop solution for M&A activities in the context of our breadth of experience across a wide spectrum of capabilities comprising inter-alia diligence, valuation, and value creation to address today’s complex needs at compressed deal speeds</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img01.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-piggy-bank"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Diligence</a></h2>
                                    <p>Outside-in diligence​
                                        Buy/sell-side diligence​
                                        Top-up engagements​
                                        Data Analytics​
                                        Completion accounts (post-exchange pricing true up)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img02.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-calculator"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Valuation</a></h2>
                                    <p>Producing robust financial models underpinning the build-up of EV​

                                        Running sensitivity scenarios</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img03.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Restructuring​</a></h2>
                                    <p>Debt standstill arrangements​

                                        Undertaking cost-cutting measures</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img04.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-layers"></i>
                                    </div>
                                    <h2 class="title"><a href="#">SPA advice</a></h2>
                                    <p>Recommending comprehensive W&I protections in the SPA to safeguard client’s financial interest</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img05.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-taxes"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Tax Consultancy</a></h2>
                                    <p>Morem ipsum dolor ametey consectre adipiscing.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img06.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-investment"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Post-merger integration</a></h2>
                                    <p>Execution /implementation of value-creation drivers​.

                                        Harmonisation of systems/processes. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img07.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-handshake"></i>
                                    </div>
                                    <h2 class="title"><a href="#">IPO advice</a></h2>
                                    <p>Strategic considerations​

                                        Assessment of capital market capability.​
                                        
                                        IPO preparation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img08.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-piggy-bank"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Separation considerations</a></h2>
                                    <p>Functional entanglement/dis-synergies assessment​.

                                        Build-up of the standalone model.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img08.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-piggy-bank"></i>
                                    </div>
                                    <h2 class="title"><a href="#">ESG</a></h2>
                                    <p>Developing ESG criteria/matrix for evaluation of investment consideration.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="services-item-two">
                                <div class="services-thumb-two">
                                    <img src="/assets/img/services/h2_services_img08.jpg" alt="">
                                    <div class="item-shape">
                                        <img src="/assets/img/services/services_item_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="services-content-two">
                                    <div class="icon">
                                        <i class="flaticon-piggy-bank"></i>
                                    </div>
                                    <h2 class="title"><a href="#">Structuring</a></h2>
                                    <p>​

                                        Tax structuring to optimize the capital structure and tax liability and ensure continuous upstreaming of cash.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- services-area-end -->

            <!-- brand-area -->
            <!-- <div class="brand-area-six pt-80 pb-80">
                <div class="container">
                    <div class="row brand-active">
                        <div class="col-lg-12">
                            <div class="brand-item">
                                <img src="/assets/img/brand/brand_img01.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="brand-item">
                                <img src="/assets/img/brand/brand_img02.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="brand-item">
                                <img src="/assets/img/brand/brand_img03.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="brand-item">
                                <img src="/assets/img/brand/brand_img04.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="brand-item">
                                <img src="/assets/img/brand/brand_img05.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="brand-item">
                                <img src="/assets/img/brand/brand_img03.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- brand-area-end -->


        </main>
        <!-- main-area-end -->


        <!-- footer-area -->
        <%- include('footer'); -%>

        <!-- footer-area-end -->


        <!-- JS here -->
        <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/jquery.odometer.min.js"></script>
        <script src="/assets/js/jquery.appear.js"></script>
        <script src="/assets/js/gsap.js"></script>
        <script src="/assets/js/ScrollTrigger.js"></script>
        <script src="/assets/js/SplitText.js"></script>
        <script src="/assets/js/gsap-animation.js"></script>
        <script src="/assets/js/jarallax.min.js"></script>
        <script src="/assets/js/jquery.parallaxScroll.min.js"></script>
        <script src="/assets/js/particles.min.js"></script>
        <script src="/assets/js/jquery.easypiechart.min.js"></script>
        <script src="/assets/js/jquery.inview.min.js"></script>
        <script src="/assets/js/swiper-bundle.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/ajax-form.js"></script>
        <script src="/assets/js/aos.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>

</html>
